<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <link rel="stylesheet" href="css/success.css">
    <title>Review Messages</title>
    <div class="foot">
    </div>
    <div class="img">  
    </div>
    <div class="card border-primary" style="width: 50rem;">
        <div class="card-body ml-4 mt-4">
            <p class="card-text">Full Name <span class="ml-5">:</span> <span class="ml-5"><%= data.nama %></span></p>
            <p class="card-text">Email Address  <span class="ml-5">:</span> <span class="ml-5"><%= data.email %></span></p>
            <p class="card-text">Phone Number  <span class="ml-5">:</span> <span class="ml-5"><%= data.phone %></span></p>
            <p class="card-text ">Nationality  <span class="ml-5">:</span> <span class="ml-5"><%= data.pilihan %></span></p>
            <p class="card-text " style="font-style: italic;"><%= data.pesan %></p>
            <hr style="width:50%">
            <h4>Thanks for contacting us! </h4>
            <h4>We will be in touch with you shortly.</h4>
            <button onclick="window.location.href='/'">Home</button>
        </div>
      </div>
      <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
    
  </body>
</html>